.filter-menu{
    margin-left: 25px;

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__item {
        margin-right: 20px;
        list-style: none;
    }
}

.open {
    border: 2px solid #f44336;
}